# This is example configuration file.
# To use this file as your use case, edit value as yours,
# then rename file to 'maxigbot.yml'

maxigbot:
    auto-like-post:
        account:
            -
                username: john.doe.deo
                password: secret123
                target-user:
                    - targetuserid1
                    - targetuserid2
            -
                username: foo.bar
                password: secret123
                target-user:
                    - targetuserid1
                    - targetuserid2
                    - targetuserid3
    most-follower:
        username: john.doe
        password: secret123
    follow-unfollow:
        username: john.doe
        password: secret123
        target-path: tmp/follower.txt
    send-mail:
        smtp_ssl_host: smtp.gmail.com
        smtp_ssl_port: 465
        username: johndoe@gmail.com
        password: secret123
        sender: johndoe@gmail.com
        target-address:
            - mkdika@gmail.com
            - foobar@gmail.com